<div class="Card">
  <img class="Card_thumbnail" src="http://placehold.it/300x300" alt="Dummy Image">
  <div class="Card_content">
    <h2 class="Card_title">Dummy Title for Dummy Card</h2>
    <address class="Card_info">
      Author: <span class="Card_detail">Joe Ipsum</span>
      <br>
      Follow: <a class="Card_link"><span class="Card_detail">@joeipsum</span></a>
    </address>
    <p class="Card_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, maiores excepturi dolorem suscipit, voluptates dolor soluta iusto, inventore adipisci sapiente consequuntur. Earum excepturi fugiat minima eveniet fugit amet magnam laboriosam.
    </p>
  </div>
  <div class="Card_ctaContainer">
    <app-cta [text]="text"></app-cta>
  </div>
</div>
